.client {
    overflow: hidden;
    width: 100%;
    padding: 50px 40px;
    background-color: #000;
    /* position: relative;
    z-index: -1; */
}

.slick-slide {
    display: flex;
    justify-content: center;
}

.custom-slider {
    height: 80px;
    /* max-width: 100px; */
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.custom-slider img {
    max-height: 100%;    
    width: auto;    
    display: block;
}
