.contact{

}
.tp-contact-form-area {
    position: relative;
    border-top: 1px solid rgb(32, 32, 32);
    overflow: hidden;
}



.contact-validation-active .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 59px;

}

@media (min-width: 1200px) {

    .contact .container .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 768px) {

    .contact .container .container-md,
    .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .contact .container .container-sm {
        max-width: 540px;
    }
}

.contact .container .container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    margin-left: auto;
    margin-right: auto;
    padding-left: .75rem;
    padding-left: var(--bs-gutter-x, .75rem);
    padding-right: .75rem;
    padding-right: var(--bs-gutter-x, .75rem);
    width: 100%;
}

@media (max-width: 991px) {
    .tp-contact-form-area .tp-contact-form-wrap {
        padding: 35px 50px;
    }
}

.tp-contact-form-area .tp-contact-form-wrap {
    background: #101010;
    box-shadow: 0 15px 25px rgba(2, 4, 23, .08);
    padding: 85px 130px;
}

.tp-section-title {
    margin-bottom: 50px;
    text-align: center;
}

@media (max-width: 1199px) {
    .tp-section-title h2 {
        font-size: 50px;
        line-height: 60px;
    }
}

@media (max-width: 1399px) {
    .tp-section-title h2 {
        font-size: 60px;
        line-height: 70px;
    }
}

.tp-section-title h2 {
    color: #fff;
    font-family: Futura PT;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .01em;
    line-height: 100.8%;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.tp-section-title p {
    color: #919195;
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.tp-contact-form-area .tp-contact-form-wrap .contact-validation-active .form-group {
    margin-bottom: 20px;
}

.tp-contact-form-area .tp-contact-form-wrap label {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 5px;

    display: inline-block;
}

@media (max-width: 991px) {

    .tp-contact-form-area .tp-contact-form-wrap form input,
    .tp-contact-form-area .tp-contact-form-wrap form select,
    .tp-contact-form-area .tp-contact-form-wrap form textarea {
        height: 45px;
    }
}

.tp-contact-form-area .tp-contact-form-wrap form input,
.tp-contact-form-area .tp-contact-form-wrap form select,
.tp-contact-form-area .tp-contact-form-wrap form textarea {
    background: transparent;
    border: 1px solid hsla(225, 8%, 62%, .48);
    border-radius: 0;
    box-shadow: none !important;
    height: 56px;
    padding-left: 25px;
    width: 100%;
}
.contact .container {
    max-width: 1140px; 
    width: 100%;
}
.tp-contact-form-wrap {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
}

.form-group .form-control {
    -webkit-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #212529;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

.visible-rotate-text {
    left: 50%;
    opacity: .85;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1;
}

@media (max-width: 1399px) {
    .visible-rotate-text h1 {
        font-size: 200px;
        line-height: 150px;
    }
}

.visible-rotate-text h1 {
    color: #0c0c0c;
    display: block;
    font-size: 230px;
    letter-spacing: 5px;
    line-height: 200px;
    text-transform: uppercase;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.tp-contact-form-area .tp-contact-form-wrap .contact-validation-active .form-group {
    margin-bottom: 20px;
    text-align: start;
}

.tp-contact-form-area .tp-contact-form-wrap label {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 5px;
}

.tp-contact-form-area .tp-contact-form-wrap form textarea {
    height: 107px;
    padding-top: 15px;
}

.tp-contact-form-area .tp-contact-form-wrap form input,
.tp-contact-form-area .tp-contact-form-wrap form select,
.tp-contact-form-area .tp-contact-form-wrap form textarea {
    background: transparent;
    border: 1px solid hsla(225, 8%, 62%, .48);
    border-radius: 0;
    box-shadow: none !important;
    height: 56px;
    padding-left: 25px;
    width: 100%;
}


.tp-contact-form-area .tp-contact-form-wrap .submit-area {
    margin-top: 32px;
}

.theme-btn,
.theme-btn-s2 {
    -webkit-backface-visibility: hidden;
    background: #19181d;
    border: 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-size: 1.0666666667rem;
    font-weight: 600;
    padding: 15px 45px;
    position: relative;
    text-transform: capitalize;
    transition: all .3s;
    z-index: 1;
}

.contact-validation-active #c-loader,
.contact-validation-active #loader {
    display: none;
    margin-top: 10px;
}

.contact-validation-active #loader i {
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
    color: #e5540a;
    display: inline-block;
    font-size: 30px;
    font-size: 2rem;
}

@media (min-width: 768px) {
    .order-md-2 {
        order: 2 !important;
    }
}


.tp-contact-form-area .tp-contact-form-wrap .contact-info ul {
    display: flex;
    list-style: none;
    margin-top: 40px;
}

.tp-contact-form-area .tp-contact-form-wrap .contact-info ul li {
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}

.tp-contact-form-area .tp-contact-form-wrap .contact-info ul li i {
    background: rgba(229, 84, 10, .2);
    border: 1px solid #e5540a;
    border-radius: 50%;
    color: #e5540a;
    display: inline-block;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    margin-right: 5px;
    text-align: center;
    width: 29px;
}
