.tstml {
  background: #000;
  position: relative;
  z-index: 1;
  border-top: 1px solid #202020;
}

@media (max-width: 1400px) {
  .tstml-main {}
}

.tstml-main {
  overflow: hidden;

}

.tstml-title {
  color: #e5540a;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
  padding: 10px 15px;
}

.tstml-title::before {
  border: 2px solid #e5540a;
  content: "";
  height: 39px;
  width: 39px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.tstml-title::after {
  background: #000;
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  left: 34px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.tstml-bg {
  left: 50%;
  opacity: .85;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
  color: #919195
}

@media (max-width: 1399px) {
  .tstml-bg h1 {
    font-size: 190px;
    line-height: 150px;
  }
}

.tstml-bg h1 {
  color: #0c0c0c;
  display: block;
  text-align: center;
  font-size: 190px;
  letter-spacing: 5px;
  line-height: 200px;
  text-transform: uppercase;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-weight: 600;

}


.tsml {

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 60px 0px;
    border-top: 1px solid #202020;
  }
}

.slide-wrapper {
  padding: 0 10px;
}

.slide-div {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

.custom-slide {
  margin: 0 auto;
  background-color: #181818;
  padding: 20px;
  border-radius: 20px;
}

.slick-slide {
  display: flex;
  justify-content: center;
}

.custom-slide-div {
  padding: 0px 25px;
}

@media (max-width:768px) {
  .custom-slide-div {
    padding: 0px 4px;
  }
}

.line {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #919195;
  margin-right: 10px;
}

.tstml-text {
  margin-bottom: 2rem;
}